# Condition Operation

In [1]:
a=10

In [2]:
b=11

In [3]:
a==b

False

In [4]:
a!=b

True

In [5]:
a>b

False

In [6]:
a<b

True

In [7]:
not a > b

True

In [8]:
a >= b

False

In [9]:
a <= b

True

In [10]:
not True

False

# Chained comparison Operators

In [11]:
x = 10

In [12]:
y = 20

In [13]:
a == x and y >= b

True

In [14]:
not a > b and y >= b

True

In [15]:
a > b or y >= b

True

In [16]:
a >b or not  y>=b

False

In [17]:
not x > a and not b > y

True

In [18]:
not (x > a and b > y)

True

# Python Statements

- if else
- if elif else
- for
- while

In [20]:
if a == b :
    print(a)
else:
    print ("Not Equal")

Not Equal

In [21]:
s = 11

In [24]:
if s%2 == 0:
    print("Even")
else:
    print("Odd")

Odd

# Multiple Branches of if else that is elif

In [28]:
r = 73
if r>=80:
    print ("First Class")
elif r>=70:
    print("Second Class")
elif r>=60:
    print ("Third Class")
elif r>=50:
    print ("Pass")
else:
    print("fail")

Second Class

# For Loop

In [29]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [30]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [55]:
for num in my_list:
    print(num)
else:
    print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [32]:
for num in my_list:
    if num%2 == 0:
        print("Even", num)
    else:
        print("Odd", num)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [35]:
my_str = "this is kumaran systems"
for let in my_str:
    print(let)

t
h
i
s

i
s

k
u
m
a
r
a
n

s
y
s
t
e
m
s

In [36]:
my_tup = (1,2,4,5,7)

In [37]:
for tup in my_tup:
    print(tup)

1
2
4
5
7

In [40]:
lst_of_tup = [(1,11),(2,22),(3,33),(4,44)]
for (t1,t2) in lst_of_tup:
    print(t1)

1
2
3
4

In [42]:
my_dict = {"k1":9,"k2":18,"k3":27,"k4":36}

In [43]:
for itm in my_dict:
    print(itm)

k1
k2
k3
k4

In [44]:
for k,v in my_dict.items():
    print(k, v)

k1 9
k2 18
k3 27
k4 36

In [46]:
list(my_dict.keys())

['k1', 'k2', 'k3', 'k4']

In [47]:
list(my_dict.values())

[9, 18, 27, 36]

In [48]:
sorted(my_dict.values())

[9, 18, 27, 36]

In [54]:
for i in range(2,1000):
    j=0
    for x in range(2,i):
        if i%x == 0:
            j=1
            break
    if j==0:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# While Loop

In [56]:
x = 0

In [60]:
a = 0
while a < 10:
    print ('a is currently below 10',a)
    a += 1
else:
    print("Done")

a is currently below 10 0
a is currently below 10 1
a is currently below 10 2
a is currently below 10 3
a is currently below 10 4
a is currently below 10 5
a is currently below 10 6
a is currently below 10 7
a is currently below 10 8
a is currently below 10 9
Done

In [61]:
a = 0
while a < 10:
    print ('a is currently below 10',a)
    a += 1
    if a == 5:
        print('a is now 5')
        break
else:
    print("Done")

a is currently below 10 0
a is currently below 10 1
a is currently below 10 2
a is currently below 10 3
a is currently below 10 4
a is now 5

In [62]:
a = 0
while a < 10:
    a += 1
    if a == 4:
        continue
    print ('a is currently below 10',a)
else:
    print("Done")

a is currently below 10 1
a is currently below 10 2
a is currently below 10 3
a is currently below 10 5
a is currently below 10 6
a is currently below 10 7
a is currently below 10 8
a is currently below 10 9
a is currently below 10 10
Done

In [64]:
my_lst = list(range(1,15))

In [65]:
min(my_lst)

1

In [66]:
max(my_lst)

14

In [68]:
from random import shuffle
shuffle(my_lst)

In [69]:
my_lst

[10, 5, 1, 12, 6, 2, 8, 7, 14, 4, 11, 9, 13, 3]

In [70]:
from random import randint
randint(0,99)

63

In [71]:
input('Enter a Number:')

Enter a Number:12

'12'

In [72]:
int(input('Enter a Number:'))

Enter a Number:65

65